<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!--
  This file is part of the Spelling and Grammar Checker project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="com.here.validate.svrl.text-rules" version="4.0.0">
	<!--
		This plugin is based on and 'extends' the plugin named below.
	-->
	<require plugin="com.here.validate.svrl"/>


	<!-- Transtype definitions -->
	<transtype name="auto-correct" abstract="false" extends="svrl"
		 desc="DITA Spelling auto-correction">
		<param desc="Whether to colorize the validation output" name="args.validate.color" type="enum">
			<val default="true" desc="Output highlights errors and warnings using ANSI color codes">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
		<param name="text-rules.ruleset.file" desc="Specifies the ruleset file to use." type="file"/>
	</transtype>
	<transtype name="text-rules" abstract="false" extends="svrl"
		 desc="DITA Spelling and grammar checking">
		<param desc="Validation Mode" name="args.validate.mode" type="enum">
			<val desc="Outputs errors and warnings. Fails on errors and warnings.">strict</val>
			<val default="true" desc="Outputs errors and warnings. Fails on errors only">default</val>
			<val desc="Outputs errors only. Fails on Errors only">lax</val>
			<val desc="SVRL Report only. Never fail">report</val>
		</param>
		<param desc="Whether to colorize the validation output" name="args.validate.color" type="enum">
			<val default="true" desc="Output highlights errors and warnings using ANSI color codes">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
		<param name="text-rules.ruleset.file" desc="Specifies the ruleset file to use." type="file"/>
	</transtype>

	<!-- Import the text-rules transform's ANT file -->
	<feature extension="ant.import" file="build_dita2text-rules.xml"/>
	<!-- Ensure the plugin's error and logging messages are available -->
	<feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>

</plugin>